body{
    margin: 0px;
    padding: 0;
}
.main{
    width: 100%;
    height: 3845px;
    background-color: white;
}
.hed{
    width: 99%;
    height: 63px;
    background-color: white;
    padding-left: 15px;
    padding-top: 10px;
}
/* .hed1{
    width: 98%;
    height: 65px;
    position: relative;
    background-color: white;
} */
.map{
    left: 220px;
    position: relative;
    top: -29px;
    cursor: pointer;
    color:#414042;
}
.map,.locate:hover{
    color: orange;
}
.locate{
    position: relative;
    font-size: 1rem;
    left: 226px;
    top: -35px;
    font-family: Open Sans, sans-serif;
    color: #414042;
    cursor: pointer; 
}
.ear{
    position: relative;
    left: 246px;
    top: -29px;
    cursor: pointer;
}
.customer{
    position: relative;
    font-size: 1rem;
    left: 255px;
    top: -36px;
    font-family: Open Sans, sans-serif;
    color: #414042;
    cursor: pointer; 
}
.customer:hover{
    color: orange;
}
.hed1pic{
    left: 375px;
    position: relative;
    top: -18px;
}
.login{
    width: 115px;
    height: 61px;
    background-color:  #461e57;
    position: relative;
    left: 658px;
    top: -14px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family:Open Sans, sans-serif;
    border: #461e57;
    text-align: right;
}
.login:hover{
  background-color: #da6630;
}
.lock{
    width: 225px;
    height: 67px;
    position: relative;
    left: 585px;
    top: -8px;
    cursor: pointer;
}
.pic1{
    width: 100%;
    height: 514px;
    /* background-color: aqua; */
}
.fstpic{
    width: 100%;
}
.card1{
    width: 30%;
    height: 200px;
    background-color: #c1bebe;
    position: relative;
    left: 204px;
    top: -379px;
    border-radius: 10px;
}
.card1head{
    font-size: 25px;
    color: #461e57;
    position: relative;
    font-family: Open Sans, sans-serif;
    padding-left: 25px;
    padding-top: 19px;
}
.card1head1{
    font-size: 16px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    color: #414042;
    position: relative;
    left: 26px; 
}
.card1para{
        font-size: 14px;
        font-family: Open Sans, sans-serif;
        color: #414042;
        position: relative;
        left: 27px;
        top: -10px;
}
.btn1{
    width: 114px;
    height: 35px;
    background-color:white;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    left: 27px;
    bottom: 10px;
    border-width: 1px;
}  
.btn1:hover{
    background-color: #461e57;
    color: white;
}  
.btn2{
    width: 114px;
    height: 35px;
    background-color: #da6630;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    left: 33px;
    bottom: 10px;
    border-width: 0px;
}
.btn2:hover{
    background-color: #461e57;
}
.menu{
    width: 100%;
    height: 200px;
    background-color: white;
    color: #9b92928c;
    box-shadow: 0px 8px 15px;
}
.leftarrow{
    width: 1.5%;
    position: relative;
    color: gray;
    left: 185px;
    top: 49px;
    cursor: pointer;
}
.accounts{
    position: relative;
    cursor: pointer;
    left: 216px;
    top: 46px;
}
.card{
    position: relative;
    cursor: pointer;
    left: 316px;
    top: 52px;
}
.finance{
    position: relative;
    cursor: pointer;
    left: 416px;
    top: 52px;
}
.banking{
    position: relative;
    cursor: pointer;
    left: 516px;
    top: 52px;
}
.business{
    position: relative;
    cursor: pointer;
    left: 616px;
    top: 52px;
}
.corporate{
    position: relative;
    cursor: pointer;
    left: 716px;
    top: 52px;
}
.rightarrow{
    width: 1.5%;
    position: relative;
    color: gray;
    left: 764px;
    top: 49px;
    cursor: pointer;
}
.menulisthead{
    width: 72%;
    height: 30px;
    position: relative;
    background-color: white;
    left: 239px;
    top: 59px;
}
.menulist1{
    position: relative;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem;
    color: #461e57;
    float: left;
    cursor: pointer;  
   
}
.menulist1:hover{
    color: #da6630;
}
.menulist2{
    position: relative;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem;
    color: #461e57;
    float: left;
    left: 115px;
    cursor: pointer;  
   
}
.menulist2:hover{
    color: #da6630;
}
.menulist3{
    position: relative;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem;
    color: #461e57;
    float: left;
    left: 243px;
    cursor: pointer;  
   
}
.menulist3:hover{
    color: #da6630;
}
.menulist4{
    position: relative;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem;
    color: #461e57;
    float: left;
    left: 332px;
    cursor: pointer;  
   
}
.menulist4:hover{
    color: #da6630;
}
.menulist5{
    position: relative;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem;
    color: #461e57;
    float: left;
    left: 365px;
    cursor: pointer;  
   
}
.menulist5:hover{
    color: #da6630;
}
.menulist6{
    position: relative;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem;
    color: #461e57;
    float: left;
    left: 406px;
    cursor: pointer;  
}
.menulist6:hover{
    color: #da6630;
}
.popular{
    width: 100%;
    height: 520px;
    background-color: #E7E9E9;
    margin-top: -5px;
}
.head1{
    color: #414042;
    position: relative;
    font-size: 28px;
    font-family: Open Sans, sans-serif;
    left: 189px;
    top: 45px;
    font-weight: 600;
}
.seccards{
    width: 1130px;
    height: 380px;
    position: relative;
    left: 188px;
    top: 51px;
    padding-left: 0px;
    padding-top: 16px;
    border-radius: 5px;
}
.card2{
    background-color: white;
    width: 258px;
    height: 335px;
    float: left;
    border-radius: 5px;
    position: relative;
    left: 0px;
}
.card2head{
    font-size: 18px;
    font-family: Open Sans, sans-serif;
    position: relative;
    color: #fd7e14;
    cursor: pointer;
    left: 16px;
}
.card2head:hover{
    color: #461e57;
}
.card2para{
    font-size: 13.5px;
    font-family: Open Sans, sans-serif;
    color: #a6a3a9;
    position: relative;
    left: 17px;
    top: -3px;
    line-height: 20px;
}
.card2btn1{
    width: 92px;
    height: 29px;
    cursor: pointer;
    background-color: #f5f3f3;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: #414042;
    border-radius: 5px;
    left: 14px;
    top: 10px;
    position: relative;
    border-width: 1px;
    border-color: #e6e4e4;
    font-weight: bold;
}
.card2btn1:hover{
    border-color: black;
    background-color: #e6e4e4;
}
.card2btn2{
    width: 92px;
    height: 29px;
    cursor: pointer;
    background-color:#fd7e14 ;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    left: 16px;
    top: 10px;
    position: relative;
    font-weight: bold;
    border-width: 0px;  
}
.card2btn2:hover{
    background-color: #461e57;
}
.card3{
    background-color: white;
    width: 258px;
    height: 335px;
    margin-left: 5px;
    float: left;
    border-radius: 5px;
    position: relative;
    left: 22px;
}
.card3head{
    font-size: 18px;
    font-family: Open Sans, sans-serif;
    position: relative;
    color: #fd7e14;
    cursor: pointer;
    left: 16px;
}
.card3head:hover{
    color: #461e57;
}
.card3para{
    font-size: 13.5px;
    font-family: Open Sans, sans-serif;
    color: #a6a3a9;
    position: relative;
    left: 17px;
    top: -3px;
    line-height: 20px;
}
.card3btn1{
    width: 92px;
    height: 29px;
    cursor: pointer;
    background-color: #f5f3f3;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: #414042;
    border-radius: 5px;
    left: 14px;
    top: 10px;
    position: relative;
    border-width: 1px;
    border-color: #e6e4e4;
    font-weight: bold;
}
.card3btn1:hover{
    border-color: black;
    background-color: #e6e4e4;
}
.card3btn2{
    width: 92px;
    height: 29px;
    cursor: pointer;
    background-color:#fd7e14 ;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    left: 16px;
    top: 10px;
    position: relative;
    font-weight: bold;
    border-width: 0px;  
}
.card3btn2:hover{
    background-color: #461e57;
}
.card4{
    background-color: white;
    width: 258px;
    height: 335px;
    margin-left: 5px;
    float: left;
    border-radius: 5px;
    position: relative;
    left: 50px;
}
.card4head{
    font-size: 18px;
    font-family: Open Sans, sans-serif;
    position: relative;
    color: #fd7e14;
    cursor: pointer;
    left: 16px;
}
.card4head:hover{
    color: #461e57;
}
.card4para{
    font-size: 13.5px;
    font-family: Open Sans, sans-serif;
    color: #a6a3a9;
    position: relative;
    left: 17px;
    top: -3px;
    line-height: 20px;
}
.card4btn1{
    width: 92px;
    height: 29px;
    cursor: pointer;
    background-color: #f5f3f3;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: #414042;
    border-radius: 5px;
    left: 14px;
    top: 10px;
    position: relative;
    border-width: 1px;
    border-color: #e6e4e4;
    font-weight: bold;
}
.card4btn1:hover{
    border-color: black;
    background-color: #e6e4e4;
}
.card4btn2{
    width: 92px;
    height: 29px;
    cursor: pointer;
    background-color:#fd7e14 ;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    left: 16px;
    top: 10px;
    position: relative;
    font-weight: bold;
    border-width: 0px;  
}
.card4btn2:hover{
    background-color: #461e57;
}
.card5{
    background-color: white;
    width: 258px;
    height: 335px;
    margin-left: 5px;
    float: left;
    border-radius: 5px;
    position: relative;
    left: 78px;
}
.card2pics{
    width: 258px;
    height: 177px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card5pic{
    width: 258px;
    height: 335px;
    border-radius: 5px;
}
.head2{
    color: #414042;
    position: relative;
    font-size: 28px;
    font-family: Open Sans, sans-serif;
    left: 189px;
    top: 150px;
    font-weight: 600;
}
.thirdcards{
    width: 1144px;
    height: 315px;
    background-color: white;
    left: 210px;
    top: 175px;
    position: relative;
    border-radius: 5px;
}
.card6{
    width: 340px;
    height: 300px;
    border-radius: 5px;
    position: relative;
}
.card7{
    width: 340px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    left: 28px;
}
.card8{
    width: 340px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    left: 59px; 
}
.promo{
    text-wrap: nowrap;
    font-family: Open Sans, sans-serif;
    color: #fd7e14;
    left: 968px;
    top: 10px;
    font-size: 14px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}
.emarati{
    width: 100%;
    height: 600px;
    background-color: #E7E9E9;
    position: relative;
    top: 252px;
    color: #9b92928c;
    box-shadow: 0px -3px 15px;
}
.emaratipic{
    width: 100%;
    height: 330px;
    color: #9b92928c;
    box-shadow: 0px 14px 23px;;
}
.emaratipara{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    font-family: Open Sans, sans-serif;
    color: #414042;
    position: relative;
    left: 84px;
    top: -293px;
}
.emaratibtn1{
    width: 104px;
    height: 36px;
    cursor: pointer;
    background-color: #fd7e14;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    left: -606px;
    top: -246px;
    position: relative;
    font-weight: bold;
    border-width: 0px;
}
.emaratibtn1:hover{
    background-color: #461e57;
}
.emaratihead{
    font-size: 29px;
    font-family: Open Sans, sans-serif;
    color: #461e57;
    font-weight: bold;
    position: relative;
    right: 712px;
    top: 17px;
}
.emaratipara1{
    font-size: 14.5px;
    font-family: Open Sans, sans-serif;
    color: #656366;
    position: relative;
    left: 89px;
    top: 25px;
    text-wrap: nowrap;
}
.emaratipara2{
    font-size: 14.5px;
    font-family: Open Sans, sans-serif;
    color: #656366;
    position: relative;
    left: 89px;
    top: 40px;
    text-wrap: nowrap;
}
.emaratibtn2{
    width: 104px;
    height: 36px;
    position: relative;
    top: 81px;
    left: -13px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    color: white;
    background-color: #fd7e14;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.emaratibtn2:hover{
    background-color: #461e57;
}
.bluepic{
    width: 97%;
    height: 300px;
    position: relative;
    top: 275px;
    left: 21px;
}
.libor{
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    color: white;
    position: relative;
    top: 5px;
    left: 86px;

}
.prepa{
    font-size: 29px;
    font-family: Open Sans, sans-serif;
    color: white;
    position: relative;
    top: 66px;
    left: -31px;
    font-weight: bold;
}
.find{
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    color: white;
    position: relative;
    top: 112px;
    left: -448px
}
.risk{
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    color: white;
    position: relative;
    top: 160px;
    left: -634px;
}
.faq{
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    color: white;
    position: relative;
    top: 160px;
    left: -615px; 
}
.final{
    width: 100%;
    height: 397px;
    background-color: #E7E9e9;
    position: relative;
    top: 1453px;
    padding-left: 0px;
    padding-top: 20px;
}
.bar1{
    width: 514px;
    height: 61px;
    background-color: white;
    display: flex;
    margin-top: 18px;
    position: relative;
    left: 226px;
    top: 11px;
    border-radius: 5px;
}
.updatepic{
    width: 36px;
    height: 31px;
    position: relative;
    left: 10px;
    top: 15px;
}
.update{
    font-size: 23px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    position: relative;
    font-weight: 600;
    left: 22px;
    top: 21px;
    cursor: pointer;
}
.update:hover{
    color: #fd7e14;
}
.arrow1{
    left: 239px;
    position: relative;
    width: 17px;
    top: 3px;
}
.debtsassistpic{
    width: 36px;
    height: 30px;
    position: relative;
    left: 10px;
    top: 13px;
}
.debtassist{
    font-size: 23px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    position: relative;
    font-weight: 600;
    left: 27px;
    top: 16px;
    cursor: pointer;
}
.debtassist:hover{
    color: #fd7e14;
}
.arrow2{
    left: 326px;
    position: relative;
    width: 17px;
    top: 3px; 
}
.businesspic{
    width: 34px;
    height: 33px;
    position: relative;
    left: 14px;
    top: 11px;
}
.businesss{
    font-size: 23px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    position: relative;
    font-weight: 600;
    left: 27px;
    top: 16px;
    cursor: pointer;
}
.businesss:hover{
    color: #fd7e14;
}
.arrow3{
    left: 254px;
    position: relative;
    width: 17px;
    top: 3px;
}
.corporatepic{
    width: 34px;
    height: 33px;
    position: relative;
    left: 14px;
    top: 11px;
}
.corporatte{
    font-size: 23px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    position: relative;
    font-weight: 600;
    left: 27px;
    top: 16px;
    cursor: pointer;
}
.corporatte:hover{
    color: #fd7e14;
}
.arrow4{
    left: 246px;
    position: relative;
    width: 17px;
    top: 3px;
}
.finalpic{
    width: 541px;
    height: 275px;
    position: relative;
    top: -288px;
    left: 769px;
    border-radius: 5px;
}
.lastpart{
    width: 100%;
    height: 445px;
    /* background-color: #9b92928c; */
    position: relative;
    top: 1453px;
    display: flex;
    background-size: cover;
}

.sec1{
    width: 207px;
    height: 443px;
    position: relative;
    left: 218px;
    /* background-color: aqua; */
}
.sec1head{
    font-size: 21px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    position: relative;
    top: 24px;
}
.line1{
    width: 282px;
    position: relative;
    top: 20px;
}
.sec1para{
    position: relative;
    top: 10px;
    line-height: 23px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    color:#414042 ;
}
.sec2{
    width: 207px;
    height: 443px;
    position: relative;
    left: 304px;
    /* background-color: aqua;   */
}
.sec2head{
    font-size: 21px;
    color: #fd7e14;
    font-family: Open Sans, sans-serif;
    position: relative;
    top: 1px;
    left: 15px;
}
.line2{
    width: 282px;
    position: relative;
    top: -14px;
    left: 13px;
}
.sec2para{
    position: relative;
    top: -22px;
    line-height: 23px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    color: #414042;
    left: 14px;
}
.sec3{
    width: 207px;
    height: 159px;
    /* background-color: aqua; */
    position: relative;
    left: 397px;    
}
.sec3head{
    font-size: 21px;
    color: #fd7e14;
    font-family: Open Sans, sans-serif;
    position: relative;
    top: 1px;
    left: 15px;
}
.line3{
    width: 282px;
    position: relative;
    top: -14px;
    left: 13px;
}
.sec3para{
    position: relative;
    top: -22px;
    line-height: 23px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    color: #414042;
    left: 14px;
}
.sec4{
    width: 207px;
    height: 159px;
    /* background-color: aqua; */
    position: relative;
    left: 191px;
    top: 184px;
}
.sec4head{
    font-size: 21px;
    color: black;
    font-family: Open Sans, sans-serif;
    position: relative;
    top: -24px;
    left: 15px;
}
.line4{
    width: 282px;
    position: relative;
    top: -44px;
    left: 13px;
}
.sec4para{
    position: relative;
    top: -48px;
    line-height: 23px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    color: #414042;
    left: 14px;
}
.sec5{
    width: 207px;
    height: 159px;
    /* background-color: aqua; */
    position: relative;
    left: 314px;
    top: 8px;
}
.sec5head{
    font-size: 21px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    position: relative;
    top: -5px;
}
.line5{
    position: relative;
    top: -22px;
    width: 250px;
}
.media{
    width: 256px;
    height: 61px;
    position: relative;
    /* background-color: aqua; */
    top: -19px;
}
.socmedia{
    border-radius: 3px;
    margin-left: 2px;
}
.downloads{
    width: 239px;
    height: 278px;
    /* background-color: aqua; */
    position: relative;
    top: 118px;
    left: 100px;
}
.dwnldhead{
    font-size: 21px;
    color: #461e57;
    font-family: Open Sans, sans-serif;
    position: relative;
    top: -5px;
    font-weight: 100;
}
.stores{
    position: relative;
    left: 21px;
}
.footerr{
    width: 100%;
    height: 196px;
    background-color: #e7e9e9;
    top: 1432px;
    position: relative;
}
.footerhead{
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    color: #414042;
    text-align: center;
    position: relative;
    top: 26px;
    font-weight: 100;
}
.footerpara{
    text-align: center;
    top: 23px;
    font-size: 15px;
    color: #414042;
    font-family: Open Sans, sans-serif;
    position: relative;
}
.footerimg{
    top: 47px;
    position: relative;
    width: 5%;
    left: 721px;
}
.lastnote{
    top: 1425px;
    position: relative;
    text-align: center;
    font-family: Open Sans, sans-serif;
    color:#414042 ;
    font-size: 13px;

}

    